.header-mar{
    margin-top: 5rem;
}

.subpage-header{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #f05f40;
}

.subpage-header .title {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}