.trait{
    display: block;
    width: 100%;

    margin: 0px 15px 30px 0px;
    padding: 0px 10px 10px 10px;

    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.new-trait{
    height: 550px;
    width: 450px;
    z-index: 8999;
}

.trait h3{
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    background: #FFC5A6;

    margin: 0px -10px;
    padding: 10px;
    border-bottom: 1px solid rgba(33,37,41,.1);
}

.trait .points{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;

    text-align: center;
}

.traits .description{
    font-style: italic;
}

form label {
    display: block;
    font-size: .8rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
    height: 185px;
}

/* removes spinner on number input */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

