<nav class="navbar subpage-header fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="title navbar-brand">
                <span class="clickable-darken" ng-click="goToMain()">The System</span> - Traits
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid header-mar">
    <div class="fa fa-plus faux-button abs-bottom"></div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[0]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="margin-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="text-red italics" ng-if="trait.additionalCosts">{{trait.additionalCosts}}</div>
                <div class="margin-y">{{trait.description}}</div>
                <div class="margin-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[1]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="margin-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="text-red italics" ng-if="trait.additionalCosts">{{trait.additionalCosts}}</div>
                <div class="margin-y">{{trait.description}}</div>
                <div class="margin-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[2]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="margin-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="text-red italics" ng-if="trait.additionalCosts">{{trait.additionalCosts}}</div>
                <div class="margin-y">{{trait.description}}</div>
                <div class="margin-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>
    </div>
</div>