<nav class="navbar subpage-header fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="title navbar-brand">
                <span class="clickable-darken" ng-click="goToMain()">The System</span> - Traits
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid header-mar">
    <div ng-click="addingTrait = !addingTrait" class="fa faux-button-circle abs-bottom" ng-class="{'fa-plus' : !addingTrait, 'fa-times' : addingTrait}"
        title="Add a Trait!"></div>
    <div ng-show="addingTrait" class="trait new-trait abs-bottom">
        <h3>Add a Trait!</h3>
        <form name="newTraitForm" ng-submit="addTrait()" novalidate>
            <label>Trait Name</label>
            <input type="text" name="Name" ng-model="newTrait.Name" ng-required="true" />

            <label>Action Type</label>
            <input type="text" name="ActionType" ng-model="newTrait.ActionType" ng-required="true" />

            <label>Description</label>
            <textarea type="text" name="Description" ng-model="newTrait.Description" ng-required="true" />

            <div class="row">
                <div class="col-sm-3">
                    <label>CD</label>
                    <input type="number" name="Cooldown" ng-model="newTrait.Cooldown" ng-required="true" />
                </div>
                <div class="col-sm-3">
                    <label>Unit</label>
                    <select type="text" name="CooldownUnit" ng-model="newTrait.CooldownUnit" ng-required="true" ng-options="option as option for option in cdOptions" ng-init="newTrait.CooldownUnit = cdOptions[0]"></select>
                </div>
                <div class="col-sm-6">
                    <label>Points</label>
                    <input type="number" name="Points" ng-model="newTrait.Points" ng-required="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="submit" class="faux-button-rect top-mar-yyyy" ng-disabled="newTraitForm.$invalid" value="Add Trait" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[0]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="top-mar-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="top-mar-y">{{trait.description}}</div>
                <div class="top-mar-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[1]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="top-mar-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="top-mar-y">{{trait.description}}</div>
                <div class="top-mar-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div ng-repeat="trait in traits[2]" class="trait">
                <h3>
                    {{trait.name}}
                    <span class="float-right">
                        <i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
                </h3>
                <div class="top-mar-y">
                    <span class="italics">{{trait.actionType}} Action</span>
                    <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
                </div>
                <div class="top-mar-y">{{trait.description}}</div>
                <div class="top-mar-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
            </div>
        </div>
    </div>
</div>