<nav class="navbar subpage-header fixed-top">
	<div class="container-fluid">
        <div class="row">
            <div class="title navbar-brand">
                <span class="clickable-darken">The System</span> - Traits
            </div>
        </div>
	</div><!-- /.container-fluid -->
</nav>

<div class="container-fluid header-mar">
    <div class="row">
        <div ng-repeat="trait in traits" class="trait">
            <h3>
                {{trait.name}}
                <span class="float-right"><i class="clickable-orange fa fa-level-up"></i> {{trait.votes}}</span>
            </h3>
            <div class="margin-y">
                <span class="italics">{{trait.actionType}} Action</span>
                <span class="float-right points strong" title="Costs {{trait.points}} Points">{{trait.points}}</span>
            </div>
            <div class="text-red italics" ng-if="trait.additionalCosts">{{trait.additionalCosts}}</div>
            <div class="margin-y">{{trait.description}}</div>
            <div class="margin-y strong" ng-if="trait.cooldown!=0">CD: {{trait.cooldown}} {{trait.cooldownUnit}}</div>
        </div>
    </div>
</div>